.colorful {
  color: #42b983;
  color: #35495e;
  color: #aeffc1;
  color: #a0dad0;
  color: #93d7f1;
  color: #fdee83;
  color: #ffbe5b;
  color: #ff7d7d;
  color: #ffbccf;
  color: #2b394e;
  color: #1ba1e2;
  color: #ff3b00;
  color: #ffe157;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 14px;
  color: #33333d;
  font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
body a {
  color: #33333d;
  text-decoration: none;
}
body a:hover {
  color: #ffbe5b;
}
body a,
body a:hover {
  transition: all 0.15s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
body img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-style: none;
}
body h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
body h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
body h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
body h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
body h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
body h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: normal;
}
body p {
  margin-top: 0;
  margin-bottom: 1rem;
}
::-webkit-scrollbar,
::-webkit-scrollbar-track {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #ffbe5b;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffbe5b;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
*::selection {
  background: #ffbe5b;
}
*::-moz-selection {
  background: #ffbe5b;
}
*::-webkit-selection {
  background: #ffbe5b;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-1,
.col-md-1,
.col-lg-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-1,
  .col-md-1,
  .col-lg-1 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-2,
.col-md-2,
.col-lg-2 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-2,
  .col-md-2,
  .col-lg-2 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-3,
.col-md-3,
.col-lg-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-3,
  .col-md-3,
  .col-lg-3 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-4,
.col-md-4,
.col-lg-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-4,
  .col-md-4,
  .col-lg-4 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-5,
.col-md-5,
.col-lg-5 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-5,
  .col-md-5,
  .col-lg-5 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-6,
.col-md-6,
.col-lg-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-6,
  .col-md-6,
  .col-lg-6 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-7,
.col-md-7,
.col-lg-7 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-7,
  .col-md-7,
  .col-lg-7 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-8,
.col-md-8,
.col-lg-8 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-8,
  .col-md-8,
  .col-lg-8 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-9,
.col-md-9,
.col-lg-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-9,
  .col-md-9,
  .col-lg-9 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-10,
.col-md-10,
.col-lg-10 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-10,
  .col-md-10,
  .col-lg-10 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-11,
.col-md-11,
.col-lg-11 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-11,
  .col-md-11,
  .col-lg-11 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 576px) {
  .col-12,
  .col-md-12,
  .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
  }
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.lazyload {
  background: url("/images/theme/loading.gif") no-repeat center;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: url("/images/theme/loading.gif") no-repeat center;
  background-color: #1c273a;
  z-index: 2020;
  overflow: hidden;
  opacity: 0.5;
}
.preview .preview-image {
  z-index: 40;
  height: 90vh;
  width: 100%;
  background-image: url("/images/theme/welcome-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview .preview-image .preview-tagline {
  font-size: 3em;
  font-family: 'Microsoft JhengHei', 'PT Sans', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-weight: 300;
  margin: 0 10%;
  color: #000;
}
@media (max-width: 768px) {
  .preview .preview-image .preview-tagline {
    font-size: 2em;
  }
}
.preview .preview-image .preview-overlay {
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  z-index: 50;
}
.preview .preview-image .preview-overlay .preview-waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}
@media (max-width: 768px) {
  .preview .preview-image .preview-overlay .preview-waves {
    height: 40px;
    min-height: 40px;
  }
}
.preview .preview-image .preview-overlay .preview-parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.preview .preview-image .preview-overlay .preview-parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.preview .preview-image .preview-overlay .preview-parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.preview .preview-image .preview-overlay .preview-parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.preview .preview-image .preview-overlay .preview-parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
.preview .preview-scroll {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview .preview-scroll i {
  font-size: 32px;
}
.substr-1,
.substr-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.substr-1 {
  -webkit-line-clamp: 1;
}
.substr-3 {
  -webkit-line-clamp: 3;
}
.lock-screen {
  overflow: hidden;
  padding-right: 6px;
  height: 100%;
  width: 100%;
}
.blur {
  filter: blur(10px);
}
.fab {
  position: fixed;
  bottom: -50px;
  right: 15px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background-color: #33333d;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.fab i {
  font-size: 1.5em;
}
.fab:hover {
  background-color: #ffbe5b;
  color: #33333d;
  cursor: pointer;
}
.fab-hide {
  bottom: -50px;
}
.fab-show {
  bottom: 15px;
}
.fab-plus {
  z-index: 100;
}
.fab-plus-active {
  transform: rotate(45deg);
}
.fab-up {
  z-index: 90;
  visibility: hidden;
}
.fab-up-active {
  bottom: 125px;
  visibility: visible;
}
.fab-menu {
  z-index: 80;
  visibility: hidden;
}
.fab-menu-active {
  bottom: 70px;
  visibility: visible;
}
.paginator {
  text-align: center;
  margin-bottom: 30px;
}
.paginator span,
.paginator a {
  display: inline-block;
  margin: 0 3px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.paginator span,
.paginator a:hover {
  background-color: #33333d;
  color: #fff;
}
@-moz-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@-webkit-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@-o-keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
.header {
  text-align: center;
  margin: 100px auto;
}
.header .header-title {
  font-size: 2rem;
  color: #000;
}
.header .header-subtitle {
  font-size: 1rem;
}
.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255,255,255,0.7);
  z-index: 50;
  display: none;
}
.menu .menu-close {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transform: rotate(45deg);
}
.menu .menu-close i {
  color: #ffbe5b;
  font-size: 1.5em;
}
.menu .menu-content {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
}
@media (max-width: 576px) {
  .menu .menu-content {
    position: relative;
    top: 50%;
    transform: translateY(-25%);
  }
}
.menu .menu-content .menu-item {
  font-size: 2em;
  display: inline-block;
  margin: 20px;
  margin-top: 200px;
}
@media (max-width: 576px) {
  .menu .menu-content .menu-item {
    display: block;
    margin: 10px;
  }
}
.menu .menu-copyright {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
@media (max-width: 576px) {
  .menu .menu-copyright {
    font-size: 0.75em;
  }
}
@media (min-width: 768px) {
  .post {
    padding-top: 45px;
  }
}
.post .post-item {
  margin-bottom: 30px;
}
.post .post-item .post-wrap:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.1);
}
.post .post-item .post-wrap {
  box-shadow: 0 5px 40px -1px rgba(2,10,18,0.11);
  background-color: #fff;
}
.post .post-item .post-wrap .post-top {
  z-index: 10;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: 0;
}
.post .post-item .post-wrap .post-top div {
  line-height: 18px;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 3px 0;
  top: 10px;
  left: -28px;
  width: 100px;
  background-color: #ff3b00;
  color: #fff;
  box-shadow: -3px 5px 6px -5px rgba(0,0,0,0.5);
}
.post .post-item .post-wrap .post-image {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
}
.post .post-item .post-wrap .post-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.post .post-item .post-wrap .post-image img,
.post .post-item .post-wrap .post-image img:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.post .post-item .post-wrap .post-image img:hover {
  opacity: 0.7;
}
.post .post-item .post-wrap .post-content {
  padding: 20px;
  height: 170px;
}
.post .post-item .post-wrap .post-content .post-title {
  font-size: 1.5em;
}
.post .post-item .post-wrap .post-content .post-title a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.post .post-item .post-wrap .post-content .post-excerpt {
  height: 80px;
}
.post .post-item .post-wrap .post-content .post-excerpt p {
  color: #555;
}
.post .post-item .post-wrap .post-content .post-info {
  color: #999;
}
.post .post-item .post-wrap .post-content .post-info .post-info-item {
  margin-right: 10px;
}
.post .post-item .post-wrap .post-content .post-info .post-info-item i {
  font-size: 1em;
  margin-right: 5px;
}
.article {
  max-width: 700px;
  margin: 45px auto;
  box-shadow: 0 5px 40px -1px rgba(2,10,18,0.11);
}
@media (max-width: 576px) {
  .article {
    margin: 0;
  }
}
.article .head {
  position: relative;
}
.article .head .head-mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.75));
  padding: 30px;
}
.article .head .head-mask .head-title {
  color: #fff;
  font-size: 2em;
}
.article .head .head-mask .head-info {
  color: #fff;
  margin-top: 10px;
}
.article .head .head-mask .head-info .post-info-item {
  margin-right: 10px;
}
.article .head .head-mask .head-info .post-info-item i {
  font-size: 1em;
  margin-right: 5px;
}
.article .main {
  padding: 30px;
}
.article .main .content {
  line-height: 2;
  color: #555;
}
.article .main .content h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #33333d;
  font-weight: bold;
}
.article .main .content h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #33333d;
  font-weight: bold;
}
.article .main .content h3 {
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #33333d;
  font-weight: bold;
}
.article .main .content h4 {
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #33333d;
  font-weight: bold;
}
.article .main .content h5 {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #33333d;
  font-weight: bold;
}
.article .main .content h6 {
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
  color: #33333d;
  font-weight: bold;
}
.article .main .content p code {
  font-size: 1em;
  background-color: #f6f8fa;
  padding: 2px 5px;
  border-radius: 2px;
  color: #ffbe5b;
}
.article .main .content a {
  text-decoration: underline !important;
}
.article .main .content kbd {
  padding: 0.2em 0.4em;
  font-size: 87.5%;
  color: #fff;
  background-color: #33333d;
  border-radius: 0.2em;
}
.article .main .content table {
  margin: 10px auto;
  min-width: 100%;
  text-align: center;
}
.article .main .content table,
.article .main .content table td,
.article .main .content table th {
  border: 1px solid #33333d;
  border-collapse: collapse;
  padding: 5px;
}
.article .main .content figure {
  color: #33333d;
  margin: 0;
  overflow: auto;
  margin-bottom: 20px;
}
.article .main .content figure .code {
  padding: 0;
  border: none;
}
.article .main .content figure .code code {
  background-color: #f6f8fa;
  padding: 1em;
}
.article .main .content figure > * {
  border-spacing: 0px;
}
.article .main .content figure .gutter {
  display: none;
}
.article .main .content figure table,
.article .main .content figure pre {
  margin: 0;
  text-align: left;
  border: 0;
}
.article .main .content blockquote {
  margin: 0 0 1em;
  padding: 15px 20px;
  background-color: #f6f8fa;
  border-left: 3px solid #ffbe5b;
  border-left-width: 6px;
}
.article .main .content blockquote p {
  margin: 0;
}
.article .extra {
  margin-top: 50px;
}
.article .extra .donate {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.article .extra .donate .qrcode {
  padding: 10px;
  width: 200px;
  height: 200px;
  box-shadow: 0 5px 40px -1px rgba(2,10,18,0.11);
  position: absolute;
  left: calc(50% - 100px);
  bottom: 70px;
  z-index: 10;
  display: none;
}
.article .extra .donate .qrcode img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.article .extra .donate .icon {
  position: relative;
  display: inline-block;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-radius: 2em;
  padding: 8px 16px;
  z-index: 20;
}
.article .extra .donate .icon a,
.article .extra .donate .icon i {
  font-size: 1.25em;
}
.article .extra .donate .icon #alipay:hover {
  color: #108ee9;
}
.article .extra .donate .icon #wechat:hover {
  color: #09bb07;
}
.article .extra .donate .icon #alipay {
  padding-right: 8px;
  border-right: 1px solid #e0e0e0;
}
.article .extra .donate .icon #wechat {
  padding-left: 8px;
}
.article .extra .tag-list {
  padding: 0 0 1em 0;
  border-bottom: #ddd dashed 1px;
}
.article .extra .tag-list .tag-list-item {
  display: inline-block;
  list-style-type: none;
  margin-right: 1em;
  padding: 5px 10px;
  background-color: #f6f8fa;
}
.article .extra .tag-list .tag-list-item:hover {
  cursor: pointer;
  background-color: #ffbe5b;
}
.article .extra .tag-list .tag-list-item:hover a {
  color: #fff;
}
.article .extra .nav {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.article .extra .nav i {
  font-size: 1em;
}
.article .comments {
  margin-top: 50px;
}
.article .comments .btn {
  display: block;
  padding: 10px;
  background-color: #f6f8fa;
  text-align: center;
}
.article .comments .btn:hover {
  background-color: #ffbe5b;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  cursor: pointer;
}
.article .comments #gitalk,
.article .comments .gt-header-textarea,
.article .comments .gt-btn {
  border-radius: 0 !important;
}
.article .comments .vwrap,
.article .comments .vbtn {
  border-radius: 0 !important;
}
.article .comments .gt-avatar img {
  border-radius: 50% !important;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.article .comments .gt-avatar img:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.archive {
  max-width: 576px;
  min-height: calc(100vh - 300px);
  margin: 45px auto;
}
@media (max-width: 576px) {
  .archive {
    margin: 20px;
  }
}
.archive .archive-container {
  border-left: 1px #e6e6e6 dashed;
}
.archive .archive-container .archive-post {
  padding-left: 30px;
}
.archive .archive-container .archive-post .archive-total,
.archive .archive-container .archive-post .archive-year,
.archive .archive-container .archive-post .archive-date,
.archive .archive-container .archive-post .archive-title {
  font-size: 1.2em;
  font-weight: bold;
}
.archive .archive-container .archive-post .archive-total,
.archive .archive-container .archive-post .archive-year,
.archive .archive-container .archive-post .archive-item {
  margin-bottom: 30px;
}
.archive .archive-container .archive-post .archive-total,
.archive .archive-container .archive-post .archive-year,
.archive .archive-container .archive-post .archive-date {
  position: relative;
}
.archive .archive-container .archive-post ::before {
  content: '';
  position: absolute;
  margin-top: 0.35em;
  left: -37px;
  width: 0.8em;
  height: 0.8em;
  border-radius: 0.8em;
  background-color: #e6e6e6;
}
.archive .archive-container .archive-post .archive-date {
  color: #555;
  font-weight: normal;
}
.archive .archive-container .archive-post .archive-title {
  margin-left: 15px;
}
.tags {
  max-width: 576px;
  min-height: calc(100vh - 350px);
  margin: 0 auto;
}
@media (max-width: 576px) {
  .tags {
    margin: 40px 20px 0 20px;
  }
}
.tags .tags-container {
  text-align: center;
}
.tags a {
  padding: 5px 10px;
  background-color: #f6f8fa;
  margin-right: 10px;
}
.tags a:hover {
  background-color: #ffbe5b;
  color: #fff !important;
}
.categories {
  max-width: 576px;
  min-height: calc(100vh - 350px);
  margin: 0 auto;
}
@media (max-width: 576px) {
  .categories {
    margin: 40px 20px 0 20px;
  }
}
.categories ul {
  padding: 0;
  text-align: center;
}
.categories ul li {
  font-size: 1rem;
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block;
  padding: 5px 10px;
  background-color: #f6f8fa;
}
.categories ul li a {
  margin-right: 5px;
}
.categories ul li span {
  font-size: 0.6rem;
}
.categories ul li span::before {
  content: '[';
}
.categories ul li span::after {
  content: ']';
}
.galleries {
  min-height: calc(100vh - 350px);
}
.galleries .caption {
  font-size: 1.5rem !important;
}
.gallery {
  min-height: calc(100vh - 350px);
}
.footer {
  max-width: 576px;
  margin: 0 auto;
  border-top: 1px solid #eee;
  margin-top: 90px;
  padding: 30px 0;
}
.footer .footer-social {
  text-align: center;
  margin-bottom: 20px;
}
.footer .footer-social .footer-social-item {
  font-size: 1.7em;
  margin: 0 5px;
}
.footer .footer-copyright {
  text-align: center;
}
