<section class="donate">
  <!-- <div class="qrcode">
    <img src="<%- theme.donate.alipay %>">
  </div> -->
  <div class="icon">
    <a href="https://github.com/f416720001" id="alipay"
      ><i class="iconfont icongithub-fill"></i
    ></a>
    <a href="https://geminimc.nctu.me/" id="wechat"
      ><i class="iconfont iconwechat-fill"></i
    ></a>
  </div>

  <div id="disqus_thread"></div>
  <script>
        // var disqus_config = function () {
        //   this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
        //   this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        // };

        var disqus_config = function () {
          this.language = "zh_TW";
        };

        (function () {
          var d = document,
            s = d.createElement("script");
          s.src = "https://f416720001.disqus.com/embed.js";
          s.setAttribute("data-timestamp", +new Date());
          (d.head || d.body).appendChild(s);
        })();
  </script>
  <noscript>
    Please enable JavaScript to view the
    <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
  </noscript>
</section>
